PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin:/usr/local/games:/usr/games

* *	* * *	root	test -c /dev/ttyUSB0 && soma-scheduler --start soma-start --stop soma-stop
* *	* * *   nobody	finger @10.14.14.1 &>/dev/null  || true
