[Unit]
Description=Soma OPC Client

[Service]
ExecStart=/usr/local/bin/launch-opc-client
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target
