[Unit]
Description=Soma OPC Server

[Service]
ExecStart=/usr/local/bin/launch-opc-server
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
